.slideshow-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f9f9f9;
}
.slideshow-element{
    position: absolute;
    text-align: center;
    transform: translate(-50%,-50%) scale(0);
    transition: transform .5s;
}
.slideshow-element i,h2{
    font-size: 4rem;
    color: #45453c;
}
.slideshow-element.current{
    transform: translate(-50%,-50%) scale(1);
    transition: transform .5s;
}